
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Montserrat', Verdana;
}
html{
    scroll-behavior: smooth;
}


body {
    background-color: #EAE7F9;
    overflow-x: hidden;
}


#wrapper {
    width: 100%;
    margin: 0px auto; 
}


.wrapper-navbar {
    background-color: #fcfcfc;
    position: fixed;
    width: 100%;
    box-shadow: 1px 2px 6px #7f759a38;
    z-index: 69;
}

.wrapper-navbar nav {
    display: flex;
    max-width: calc(100% - 200px);
    margin: 0 auto;
    height: 70px;
    justify-content: space-between;
}

nav .content {
    display: flex;
    align-items: center;
}

nav .content .logo img {
    width: 150px;
}

nav .content .small-logo img {
    width: 50px;
    display: none;
}

nav .content .links {
    display: flex;
    margin-left: 80px;
}

.content .links li {
    list-style-type: none;
}

.content .links li a {
    color: #8A6DF7;
    font-size: 18px;
    padding: 7px 17px 22px 17px;

}

.content .links li:hover a {
    border-bottom: 3px solid #8A6DF7;
}

.nav-icons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-icons #burger-icon {
    display: none;
}

.nav-icons div a,
.nav-icons #magnifyingGlass {
    font-size: 18px;
    padding: 7px 17px;
    border-radius: 6px;
    color: #8A6DF7;
    cursor: pointer;
}

.nav-icons div:hover a {
    color: #5944a5;
}

.nav-icons #magnifyingGlass:hover,
.nav-icons #burger-icon:hover {
    color: #5944a5;
}

.nav-icons .accountIcon {
    background-color: #8A6DF7;
    padding: 7px 0px;
    border-radius: 16px;
    box-shadow: 2px 4px 1px #3c2f69bc;
}

.nav-icons .accountIcon a {
    color: #ffffff;
}

.nav-icons .accountIcon:hover {
    box-shadow: 2px 3px 0px #3c2f69bc;
    transform: translateY(1px);
}

.nav-icons .accountIcon a:hover {
    color: #ffffff;
}

.nav-icons .accountIcon:active {
    box-shadow: 2px 2px 0px #3c2f69bc;
    transform: translateY(2px);
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -100%;
    top: 80px;
    background-color: #6f698035;
    border-radius: 16px;
    height: 70px;
    width: 400px;
    overflow: hidden;
    z-index: 9;
    transition: all 0.2s ease;
}

.wrapper-navbar #show-search:checked~.search-box {
    right: calc(0% + 90px);
}

.wrapper-navbar #show-search:checked~.nav-icons .searchIcon i::before {
    content: "\f00d";
    padding-left: 4.5px;
}

.search-box .search-form {
    padding: 10px;
    width: 100%;
    position: relative;
    left: 26px;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 24px;
    width: 24px;
    margin-left: .4em;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
    cursor: pointer;
}

.search-box form #searchBox {
    color: #68607e;
    height: 40px;
    width: 76%;
    outline: none;
    font-size: 16px;
    padding: 7px 4px 7px 16px;
    border: 1px solid #7F759A;
    border-right: none;
    border-radius: 16px 0px 0px 16px;
}

.search-box form #searchBox:focus {
    outline: #8A6DF7;
}

.search-box form .searchBtn {
    height: 40px;
    width: 40px;
    background-color: #8A6DF7;
    color: #fcfcfcfc;
    border: none;
    font-size: 16px;
    padding: 0px 4px 0px 0px;
    position: absolute;
    border: 1px solid #7F759A;
    border-left: none;
    border-radius: 0px 16px 16px 0px;
    cursor: pointer;
}

.search-box form .searchBtn:hover {
    background-color: #7F759A;
}

.wrapper-navbar input[type=checkbox] {
    display: none;
}

#exploreSection{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    margin-bottom: 20px;
    background-color: #34313c;
    width: 100%;
    margin-bottom: 16px;
    height: 700px;
    box-shadow: 0px 4px 10px #4e495ac2;
}
.browseBooks{
    position: relative;
    z-index: 1;
    width: 50%;
    height: auto;
}
.browseBooksElements{
    width: 450px;
    position: absolute;
    text-align: left;
    top: 200px;
    left: 200px;
}
.browseBooks h1{
    font-weight: bolder;
    font-size: 40px;
    padding: 20px 0px;
    color: #fcfcfc;
    text-shadow: 1px 1px 4px #4e495a90;
}
.browseBooks p{
    color: #d5d5d5;
}
.readingImage .readingSvgImage{
    position: relative;
    top: 70px;
}
.readingImage .readingSvgImage img{
    width: 450px;
    height: 450px;
}
.browseBooks button{
    padding: 10px 20px;
    margin-top: 30px;
    border-radius: 50px;
    border: none;
    background-color: #8A6DF7;
    color: #fcfcfc;
    font-size: 16px;
    box-shadow: 0px 0px 8px #4e495a90;
    transition: transform 0.2s ease;
    cursor: pointer;
}
.browseBooks button:hover{
    background-color: #fcfcfc;
    color: #4e495a;
    transform: translateX(5px);
}
.readingImage{
    width: 50%;
    height: auto;
}

.container-homepage {
    display: flex;
}

aside{
    width: 15%;
    height: 100dvh;
    float: left;
    position: sticky;
    top: 42px;
    border-radius: 0px 10px 10px 0px;
    background-color: #fcfcfc;
    margin-top: 100px;
}
.genre-main{
    padding: 10px;
    margin: 20px 1px 5px 20px;
    min-width: 50px;
}
.genre h3 a {
    font-weight: lighter;
    text-decoration: none;
    color: #34313c;
}
.genre h3 a:hover{
    color: #8A6DF7;
}
.genre-list ul{
    list-style-type: none;
    padding: 10px 10px 10px 2px;
}
.genre-list li{
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
}
.genre-list li:hover {
    background-color: #8A6DF7;
    border-radius: 8px;
    transition: 0.2s;
    color: #ffffff;
}
.genre-list a{
    text-decoration: none;
    color: #7F759A;
}

section{
    width: 60%;
    float: left;
}
.section-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.getstarted h1{
    color: #34313c;
    font-weight: lighter;
    font-size: 30px;
    text-shadow: 1px 1px 4px #9c96ae;
    text-align: center;
    position: relative;
    top: 20px;
    left: 40px;
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: .05em;
    margin-bottom: 50px;
}
.homePageBooksList {
    list-style-type: none;
    display: contents;
}

.homePageBooks{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: flex-start;
}
.homePageBooks a{
    text-decoration: none;
    color: #34313c;
}
.homePageBooks a:hover{
    .bookCard{
        background-color: #f9f9f9;
    }
    .bookDetails h1{
        text-decoration: underline;
    }
}
.homePageBooks a:hover .bookImage img{
    transform: scale(1.05);
}

.bookCard{
    background-color: #fcfcfc;
    border-radius: 8px;
    width: 150px;
    height: 330px;
    position: relative;
    top: 40px;
    margin: 0px 20px 20px 20px;
    text-align: center;
    padding: 15px;
    box-shadow: 0 2px 4px #6f6980;
    float: left;
}
.bookImage{
    overflow: hidden;
    height: 72%;
    
    
}
.bookImage img{
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 5px;
    object-fit: cover;
    transition: all 0.4s;
}
.bookDetails{
    overflow: hidden;
    text-overflow: ellipsis;
}
.bookDetails h1{
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 5px;
    white-space: nowrap;
}

/* Define the common style for the h1 element */
.marquee-text {
    white-space: nowrap;
}

/* Define the marquee animation for .marquee-text */
@keyframes marquee {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Apply the marquee animation only to the .marquee-text within .bookCard when hovering over .bookCard */
.bookCard:hover .marquee-text {
    animation: marquee 5s linear infinite;
    animation-play-state: running;
}

.bookCard p {
    font-weight: 400;
    font-size: medium;
    margin-bottom: 10px;
}
.bookCard button {
    background-color: #fcfcfc;
    color: #34313c;
    font-size: medium;
    width: 80%;
    height: 30px;
    border: 1px solid #34313c;
    border-radius: 8px;
    cursor: pointer;
}
.bookCard button:hover{
    background-color: #8A6DF7;
    color: #ffffff;
    border: transparent;
    transition: 0.1s;
}

.quote{
    position: relative;
    padding: 30px 10px;
    width: 80%;
    margin: 10em auto;
    text-align: center;
    color: #4e495a;
    background-color: #fcfcfc;
    border: 6px solid #8A6DF7;
    border-radius: 60px 0px;
    box-shadow: 4px 5px 10px #4e495a;
}

.quote h1{
    text-shadow: 2px 2px 4px #ddd1ff;
    padding: 4px;
}
.quote p{
    color: #8A6DF7;
    margin-top: 10px;
}
#goToTopBtn{
    position: fixed;
    height: 50px;
    width: 50px;
    display: none;
    place-content: center;
    color: #fcfcfc;
    font-size: 20px;
    border-radius: 50%;
    background-color: #8A6DF7;
    bottom: 30px;
    right: 20px;
    box-shadow: 1px 2px 4px #4e495ab7;
    cursor: pointer;
    z-index: 99;
}
#goToTopBtn:hover{
    background-color: #7F759A;
}




article{
    width: 25%;
    float: left;
    background-color: #fcfcfc;
    height: 100vh;
    position: sticky;
    top: 42px;
    border-radius: 10px 0px 0px 10px;
    margin-top: 100px;
}
::-webkit-scrollbar{
    width: 8px;
    overflow-x: none;
}
::-webkit-scrollbar-track{
    background-color: #ddd1ff;
}
::-webkit-scrollbar-thumb{
    background-color: #8A6DF7;
    border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #755ccf;
}



/* responsive */ 
@media screen and (max-width: 1100px) {

    /* navbar responsive css starts */
    .nav-icons #burger-icon {
        display: block;
    }

    .nav-icons #burger-icon {
        font-size: 18px;
        padding: 7px 17px;
        border-radius: 6px;
        color: #8A6DF7;
        cursor: pointer;
    }

    .wrapper-navbar #show-burger:checked~.nav-icons .burgerIcon i::before {
        content: "\f00d";
    }

    nav .content .links {
        display: block;
        position: fixed;
        height: 100%;
        width: 100%;
        background-color: #dbd6ef;
        width: 100%;
        padding: 30px 24px 10px 24px;
        top: 70px;
        left: -100%;
        margin-left: 0px;
        max-width: 350px;
        transition: all 0.3s ease;
    }

    .wrapper-navbar #show-burger:checked~.content .links {
        left: 0%;
    }

    .content .links li {
        background-color: #8A6DF7;
        list-style-type: none;
        width: calc(100% - 2px);
        border-radius: 16px;
        padding: 2px;
        margin: 0px auto 6px auto;
        font-size: 18px;
        text-align: center;
        cursor: pointer;
    }

    .content .links li a {
        color: #ffffff;
        display: block;
        line-height: 40px;
        padding: 8px 18px;
    }

    .content .links li:hover {
        background-color: #5944a5;
    }

    .content .links li:hover a {
        border-bottom: none;
    }

    /* navbar responsive css ends */

}

@media screen and (max-width: 768px) {

    /* navbar responsive css starts */
    nav .content .links {
        width: calc(100% - 2px);
    }

    .nav-icons .accountIcon span {
        display: none;
    }

    .nav-icons .cartIcon span {
        display: none;
    }

    /* navbar responsive css ends */

}

@media screen and (max-width: 558px) {

    /* navbar responsive css starts */
    .wrapper-navbar .content .logo {
        display: none;
    }

    .wrapper-navbar .content .small-logo img {
        display: block;
    }

    .search-box {
        width: 90%;
        right: -100%;
        transform: translateX(50%);
        background-color: transparent;
    }

    .wrapper-navbar #show-search:checked~.search-box {
        right: 50%;
    }

    /* navbar responsive css ends */
}

@media screen and (max-width: 458px) {

    /* navbar responsive css ends */
    .wrapper-navbar nav {
        max-width: 90%;
    }

    nav .content .links {
        width: calc(90% - 2px);
    }

    /* navbar responsive css ends */
}